.login-box {
    margin: 10rem;
    padding: 4rem 10rem 4rem 10rem;
    width: 60%;
    min-height: 60vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5), 0px -10px 20px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #131c27;
}


.login-section {
    width: 100%;
    min-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #131c27;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a,
a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

label {
    margin-top: 1rem;
}

.login-button {
    padding: 0.5rem;
    background-color: white;
    margin-top: 2rem;
    color: #131c27;
    height: 50px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 2rem;
}

.login-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}